.building-info-wrapper {
  background-color: white; }
  .building-info-wrapper .info-box {
    min-height: 55px;
    border: 1px solid black;
    padding: 5px; }
    .building-info-wrapper .info-box .sub-content {
      font-size: 14px;
      color: gray; }
  .building-info-wrapper .info-box.meeting {
    min-height: 80px; }
  .building-info-wrapper .primary-btn {
    background-color: #002642;
    color: white;
    font-size: 16px;
    font-weight: 600; }
